img#foto{
	width: 150px;
	height: 180px;
	border: 3px solid #5c93c5;
}
body{
	line-height: 2rem;
	padding-top: 70px;
	font-family: sans-serif;
	background-image: url("../images/gris.PNG");
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.85rem;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.85rem;
	text-align: center;
}
hr {
	border-color: black;
}


form{
	border: 1px dotted #ccc;
	padding: 1rem;
	margin-bottom: 10rem;
	flex-flow: row wrap;
	justify-content: flex-end;
}


textarea, input, select{
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
	height: 5.25rem;
	font-size: 1.5rem;
	font-weight: 300;
	width: 100%;
	margin-bottom: .5rem;
}

button{
	background-color: #0078e7;
	color: #fff;
	padding: .5em 1em;
	border: 0 rgba(0,0,0,0);
	border-radius: 2px;
	width: 100%;
	font-size: 2rem;
	font-weight: 300;
}

@media (min-width: 1200px) {
	.container{
		max-width: 970px;
	}
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: #5c93c5;
}
